<main>
    <section>
 <div>
   <div class="row">
     <div class="col-md-12">
       <div class="card">
         <div class="card-header">
           <h4 class="card-title">category Details</h4>
         </div>
         <div class="card-body">
           <!-- Displaying category details -->
           <div>
             <strong>Name:</strong> {{ categoryTree.name }}
           </div>
           <div>
             <strong>Description:</strong> {{ categoryTree.description }}
           </div>
           <div>
             <strong>Parent Category:</strong> {{ categoryTree.parentCategoryName }}
           </div>
           
          
         </div>
       </div>
     </div>  
   </div>
 </div>
 </section>
 </main>
 