<div class="profile-details">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>

  <form [formGroup]="myForm">
    <label class="questionLabel d-inline">
      <span><i class="fa-solid fa-user"></i></span> product Header:
    </label>

    <div class="form-group mt-3">
      <label for="name">Name <span class="text-danger">*</span></label>
      <input
        class="form-control"
        id="name"
        formControlName="name"
        [ngClass]="{
          'is-invalid':
            myForm.get('name')?.invalid && myForm.get('name')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="myForm?.get('name')?.touched && myForm.get('name')?.invalid"
      >
        This field is required.
      </div>
    </div>

    <div class="form-group">
      <label for="importantNote"
        >Important Note <span class="text-danger">*</span></label
      >
      <input
        class="form-control"
        id="importantNote"
        formControlName="importantNote"
        [ngClass]="{
          'is-invalid':
            myForm.get('importantNote')?.invalid &&
            myForm.get('importantNote')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          myForm?.get('importantNote')?.touched &&
          myForm.get('importantNote')?.invalid
        "
      >
        This field is required.
      </div>
    </div>

    <div class="form-group">
      <label for="comment1">Comment 1 <span class="text-danger">*</span></label>
      <input
        class="form-control"
        id="comment1"
        formControlName="comment1"
        [ngClass]="{
          'is-invalid':
            myForm.get('comment1')?.invalid && myForm.get('comment1')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          myForm?.get('comment1')?.touched && myForm.get('comment1')?.invalid
        "
      >
        This field is required.
      </div>
    </div>

    <div class="form-group">
      <label for="comment2">Comment 2 <span class="text-danger">*</span></label>
      <input
        class="form-control"
        id="comment2"
        formControlName="comment2"
        [ngClass]="{
          'is-invalid':
            myForm.get('comment2')?.invalid && myForm.get('comment2')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          myForm?.get('comment2')?.touched && myForm.get('comment2')?.invalid
        "
      >
        This field is required.
      </div>
    </div>

    <div class="form-group">
      <label for="example">Example <span class="text-danger">*</span></label>
      <input
        class="form-control"
        id="example"
        formControlName="example"
        [ngClass]="{
          'is-invalid':
            myForm.get('example')?.invalid && myForm.get('example')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="
          myForm?.get('example')?.touched && myForm.get('example')?.invalid
        "
      >
        This field is required.
      </div>
    </div>

    <div formArrayName="questions" class="form-group mt-5">
      <div class="row d-flex align-items-center">
        <div class="col">
          <label class="questionLabel d-inline">
            <span><i class="fa-regular fa-circle-question"></i></span> product
            Questions:
          </label>
          <div class="text-danger mt-2" *ngIf="showQuesMsg">
            There must be at least one question.
          </div>
        </div>
        <div class="col text-end">
          <button type="button" (click)="addQuestion()" class="add-button">
            Add New Question <span><i class="fa-solid fa-plus"></i></span>
          </button>
        </div>
      </div>

      <div
        *ngFor="let question of questions.controls; let i = index"
        [formGroupName]="i"
        class="question-group mt-3 form-group"
      >
        <div>
          <!-- {{ i + 1 + "-" }} -->
          <label for="question">
            Question <span class="text-danger">*</span></label
          >
          <input
            id="question"
            formControlName="question"
            [ngClass]="{
              'is-invalid border border-danger':
                question.get('question')?.invalid &&
                question.get('question')?.touched
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              question.get('question')?.touched &&
              question.get('question')?.invalid
            "
          >
            This field is required.
          </div>
        </div>

        <div>
          <label for="answer">Answer <span class="text-danger">*</span></label>
          <input
            id="answer"
            formControlName="answer"
            [ngClass]="{
              'is-invalid border border-danger':
                question.get('answer')?.invalid &&
                question.get('answer')?.touched
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="
              question?.get('answer')?.touched &&
              question.get('answer')?.invalid
            "
          >
            This field is required.
          </div>
        </div>

        <div>
          <label for="instruction"
            >Instruction <span class="text-danger">*</span></label
          >
          <input
            id="instruction"
            formControlName="instruction"
            [ngClass]="{
              'is-invalid border border-danger':
                question.get('instruction')?.invalid &&
                question.get('instruction')?.touched
            }"
          />

          <div
            class="invalid-feedback"
            *ngIf="
              question?.get('instruction')?.touched &&
              question.get('instruction')?.invalid
            "
          >
            This field is required.
          </div>
        </div>

        <div>
          <label for="friendlyQuestion"
            >Friendly Question <span class="text-danger">*</span></label
          >
          <input
            id="friendlyQuestion"
            formControlName="friendlyQuestion"
            [ngClass]="{
              'is-invalid border border-danger':
                question.get('friendlyQuestion')?.invalid &&
                question.get('friendlyQuestion')?.touched
            }"
          />

          <div
            class="invalid-feedback"
            *ngIf="
              question?.get('friendlyQuestion')?.touched &&
              question.get('friendlyQuestion')?.invalid
            "
          >
            This field is required.
          </div>
        </div>
        <!-- *ngIf="i > 0 || profileId" -->
        <div class="mt-3">
          <button
            type="button"
            (click)="removeQuestion(i)"
            class="remove-button"
          >
            Remove Question
          </button>
        </div>
      </div>
    </div>

    <div formArrayName="outputs" class="form-group mt-5">
      <div class="row d-flex align-items-center">
        <div class="col">
          <label class="questionLabel d-inline">
            <span><i class="fa-solid fa-circle-arrow-up"></i></span> Profile
            Output:
          </label>
          <div class="text-danger mt-2" *ngIf="showoutPutErrMsg">
            There must be at least one output.
          </div>
        </div>
        <div class="col text-end">
          <button type="button" (click)="addOutput()" class="add-button">
            Add New Output <span><i class="fa-solid fa-plus"></i></span>
          </button>
        </div>
      </div>

      <div
        *ngFor="let output of outputs.controls; let i = index"
        [formGroupName]="i"
        class="output-group mt-3"
      >
        <div>
          <!-- {{ i + 1 + "-"+' ' }} -->
          <label for="outputName"
            >Output Name<span class="text-danger">*</span></label
          >
          <input
            id="outputName"
            formControlName="name"
            [ngClass]="{
              'is-invalid border border-danger':
                output.get('name')?.invalid && output.get('name')?.touched
            }"
          />
          <div
            class="invalid-feedback"
            *ngIf="output?.get('name')?.touched && output.get('name')?.invalid"
          >
            This field is required.
          </div>
          <!-- *ngIf="i > 0 " -->
          <div class="mt-3">
            <button
              type="button"
              (click)="removeOutput(i)"
              class="remove-button"
            >
              Remove Output
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 my-4 d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-primary mx-2" (click)="onSubmit()">
        {{ "Submit" }}
      </button>
      <button
        [routerLink]="'/admin/profileList'"
        type="button"
        class="btn btn-danger mx-2"
      >
        Cancel
      </button>
    </div>
  </form>
</div>
<p-toast key="toast1" styleClass="success"></p-toast>
<p-toast key="toast2" styleClass="error"></p-toast>
