<main>
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
  <section>
    <div class="container-fluid bg-white">
      <form [formGroup]="categoryForm" class="w-100">
        <div class="row">
          

          <div class="col-12 col-md-6 mb-3">
            <label for="name" class="form-label"
              >Name <span class="text-danger">*</span></label
            >
            <input
              type="text"
              class="form-control"
              formControlName="categoryName"
              placeholder="Enter Name"
            />
            <!-- Validation Message for Name -->
            <div
              *ngIf="
                categoryForm.get('categoryName')?.invalid &&
                categoryForm.get('categoryName')?.touched
              "
              class="text-danger"
            >
              Name is required.
            </div>
          </div>

          <div class="col-12 col-md-6 mb-3">
            <label for="source" class="form-label"
              >Parent Category</label
            >
            <p-dropdown
            [options]="lookUpCategories"
            [optionValue]="'id'"
            [optionLabel]="'name'"
            [placeholder]="'Select Parent'"
            formControlName="parentCategoryId"
            [showClear]="true"
          >
          </p-dropdown>
    </div>
    <div class="form-group mt-3">
      <label for="name">Description <span class="text-danger">*</span></label>
      <input
        class="form-control"
        id="description"
        formControlName="description"
        [ngClass]="{
          'is-invalid':
          categoryForm.get('description')?.invalid && categoryForm.get('description')?.touched
        }"
      />
      <div
        class="invalid-feedback"
        *ngIf="categoryForm?.get('description')?.touched && categoryForm.get('description')?.invalid"
      >
      description is required.
      </div>
    </div>

          <div
            class="col-12 my-4 d-flex justify-content-center align-items-center"
          >
            <button
              type="submit"
              class="btn btn-primary mx-2"
              (click)="onSubmit()"
            >
              {{ categoryId ? "Save" : "Submit" }}
            </button>
            <button
              [routerLink]="'/admin/categoryList'"
              type="button"
              class="btn btn-danger mx-2"
            >
              Cancel
            </button>
            
          </div>
        </div>
      </form>
    </div>
  </section>
</main>
<p-toast key="toast1" styleClass="success"></p-toast>
<p-toast key="toast2" styleClass="error"></p-toast>
