<app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
<div class="d-flex justify-content-end mb-2 addBtn">
  <button [routerLink]="'/admin/productList/addEditProduct'">
    Add New product <i class="fa-solid fa-plus"></i>
  </button>
</div>

<div>
  <app-admin-table
    [cols]="headers"
    [isId]="false"
    [showCheckboxes]="false"
    [hasActions]="true"
    [searchText]="searchString"
    [pageSize]="pageSize"
    [filter]="true"
    [actions]="actions"
    [dialogView]="false"
    [hasSort]="true"
    [placeholderSearch]="'Search..'"
    [rows]="productData"
    (pageNumber)="filter ? submitFilter($event) : getAllProducts($event)"
    [totalRecords]="totalRecords"
    [hasSort]="true"
    [isSearch]="true"
    (deleteConfirmed)="onDelete($event)"
    (filterOutput)="submitFilter($event)"
    (editItem)="goToEdit($event)"
    (onViewClicked)="viewDetails($event)"
    [ViewRoute]="'/admin/productList/view-products'"

    [hasPaginator]="true"
    (sortChange)="onSortChange($event)"

    [lookUpCategories]="lookUpCategories"
  ></app-admin-table>
</div>

<p-toast key="toast1" styleClass="success"></p-toast>
<p-toast key="toast2" styleClass="error"></p-toast>
