<section>
  <app-user-header></app-user-header>
  <div class="container-fluid mt-2">
    <div class="row">
      <div class="messaging">
        <div class="inbox_msg d-flex">
          <div class="col-12 col-md-3 inbox_people ">
            <div class="headind_srch">
              <div class="recent_heading d-flex">
                <span class="chatIcon">
                  <img src="../../../../../assets/icons/chat.png" alt="" />
                </span>
                <h4>Chat</h4>
              </div>
              <span class="input-group-addon d-flex justify-content-end">
                <button
                  type="button"
                  title="New Chat"
                  (click)="resetChatHistory()"
                  style="border: none"
                >
                  <i class="fa-solid fa-pen-to-square"></i>
                </button>
              </span>
            </div>
            <div style="height: 100vh;">
            <!-- <p-virtualScroller
              [value]="chats"
              [itemSize]="70"
              [lazy]="true"
              (onLazyLoad)="onScroll($event)"
              class="inbox_chat"
              scrollHeight="80vh"
            > -->

            <cdk-virtual-scroll-viewport 
            itemSize="75" 
            class="example-viewport"  
            (scroll)="onScroll($event)"
            style="min-height:90%; overflow-y:scroll;">
              <div *cdkVirtualFor="let item of chats" class="example-item" 
              
             >
            
           
                <!-- <ng-template let-item pTemplate="item">-->
                  <div
                    [ngClass]="
                      item.id == sessionId
                        ? 'active chat_list active_chat'
                        : 'chat_list active_chat'
                    "
                  > 
                    <div class="chat_people">
                      <div class="chat_ib row">
                        <div
                          (click)="getChat(item)"
                          class="col-10 cursor-pointer"
                        >
                <span>{{ item.name }}</span>

                        </div>
                        <div class="col-2">
                          <span class="chat_delete">
                            <a title="delete" (click)="deletChat(item.id)">
                              <i class="fa-solid fa-trash text-danger"></i>
                            </a>
                          </span>
                        </div>
                      </div>
                    </div>
                 </div>
              <!--    </ng-template> -->
              </div>
            
            </cdk-virtual-scroll-viewport>
            
<!-- 

            <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport"  style="height: 400px; overflow: auto;">
              <div *cdkVirtualFor="let item of chats" class="example-item">{{item}}</div>
           
            
            
              <ng-template let-item pTemplate="item">
                <div
                  [ngClass]="
                    item.id == sessionId
                      ? 'active chat_list active_chat'
                      : 'chat_list active_chat'
                  "
                >
                  <div class="chat_people">
                    <div class="chat_ib row">
                      <div
                        (click)="getChat(item)"
                        class="col-10 cursor-pointer"
                      >
                        <span>{{ item.name }}</span>
                      </div>
                      <div class="col-2">
                        <span class="chat_delete">
                          <a title="delete" (click)="deletChat(item.id)">
                            <i class="fa-solid fa-trash text-danger"></i>
                          </a>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
          
          </cdk-virtual-scroll-viewport> -->
  <!-- </p-virtualScroller> -->
          </div>
        </div>

          <div class="col-12 col-md-9 mesgs">
            <div class="msg_history" #msgHistory style="overflow-y: scroll;" >
              <ng-container *ngFor="let ques of questionMessege; let i = index">
                <div class="incoming_msg">
                  <div class="received_msg">
                    <div class="question_msg">
                      <p>{{ ques }}</p>
                      <!-- <span class="time_date">{{ getFormattedTime() }}</span> -->
                    </div>
                  </div>
                </div>

                <div class="respo_quest_msg" *ngIf="responsList[i]">
                  <div class="sent_msg">
                    <!-- <p>{{ responsList[i] }}</p> -->
                    <ul *ngFor="let line of responsList[i]">
                      <span [innerHTML]="line"></span>
                    </ul>
                    <!-- <span class="time_date">{{ getFormattedTime() }}</span> -->
                  </div>
                </div>
              </ng-container>
              <div class="type_msg">
                <form [formGroup]="chatForm">
                  <div class="input_msg_write">
                    <textarea
                      formControlName="question"
                      class="write_msg"
                      placeholder="Type a message"
                       (keydown)="handleKeyDown($event)"
                    ></textarea>
                    <button
                      class="msg_send_btn"
                      type="submit"
                      (click)="sendMessage()"
                      title="Send"
                    >
                      <!-- [disabled]="chatForm.invalid" -->
                      <i class="fa-solid fa-paper-plane"></i>
                    </button>
                  </div>
                </form>
              </div>
              <!-- Add more incoming and outgoing messages as needed -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <app-add-new-chat-dialog
    [displayDialog]="displayDialog"
    (hideDialog)="onHideDialog()"
  ></app-add-new-chat-dialog>
</section>
<p-toast key="toast1" styleClass="success"></p-toast>
<p-toast key="toast2" styleClass="error"></p-toast>
