<header
  class="d-flex justify-content-between align-items-center py-3 mb-2 border-bottom"
>
  <div class="w-100">
    <div class="row">
      <div class="col-6 d-flex">
        <img
          [routerLink]="'/home'"
          style="width: auto; height: 40px; margin-right: 10px; cursor: pointer"
          src="../../../../assets/images/logos/logo_loader.svg"
          alt=""
        />

        <a
          *ngIf="userData.userType==1"
          [routerLink]="'../admin/categoryList'"
          class="admin-icon text-primary mx-3"
          title="Admin panel"
        >
          <i class="fas fa-user-shield fa-2x"></i>
          <!-- <i class="fa-solid fa-users"></i> -->
        </a>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <div class="d-flex align-items-center">
          <a>
            <img
              style="width: 33px; height: 33px; margin-right: 10px"
              src="../../../../assets/images/login/149071.png"
              alt=""
            />
          </a>

          <a
            style="cursor: pointer"
            (click)="onLogout()"
            class="logout-icon text-primary"
            title="Logout"
          >
            <!-- <i class="fas fa-sign-out-alt fa-2x"></i> -->
            <img
              style="width: auto; height: 45px; margin-right: 10px"
              src="../../../../assets/images/logos/logout-icon.jpg"
              alt=""
            />
          </a>
        </div>
      </div>
    </div>
  </div>
</header>
