.blank-layout-container {
  height: 100vh;
  display: flex;
  background-size: cover;
  align-items: center;
  background-color: #eee;
}

.auth-title {
  font-size: 36px;
  line-height: 44px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
}

.img-height {
  height: calc(100vh - 83px);
}

.custom-row {
  &.row {
    margin-right: -8px;
    margin-left: -8px;
    .col-2,
    .col-12 {
      padding-right: 8px;
      padding-left: 8px;
    }
  }
}

.or-border {
  position: relative;
  text-align: center;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    width: 100px;
    top: 50%;
    height: 1px;
    background: $borderColor;
  }
  &:after {
    content: "";
    position: absolute;
    right: 0;
    width: 100px;
    top: 50%;
    height: 1px;
    background: $borderColor;
  }
}

.boxed-auth {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.max-width-form {
  max-width: 450px;
}
.loginBtn button {
  display: flex;
  flex-direction: row-reverse;
  border: 2px solid black !important;
  border-radius: 7px !important;
  height: 50px;
  border-bottom: 5px solid black !important;
}
.errMsg {
  text-align: center;
  color: #db765b;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  background: bisque;
  height: 30px;
}
