<p-dialog
  [(visible)]="displayDialog"
  header="Please provide both the session name and source"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
  [responsive]="true"
  [style]="{ width: '50rem'}"
  (onHide)="onHideDialog()"
>
  <form [formGroup]="chatForm" class="w-100">
    <div class="card-body row w-100 mt-3 mb-3  align-items-end py-0">
      <div class="col-12 col-md-6 d-flex align-items-center">
        <div
          class="form-group m-form__group w-100 custom_validation_msg position-relative"
        >
          <label for="session_name">
            Session Name <span class="text-danger">*</span>
          </label>
          <input
            formControlName="session_name"
            type="text"
            class="form-control"
            placeholder="Enter Session Name"
          />
          <div
            *ngIf="
              chatForm.get('session_name')?.invalid &&
              chatForm.get('session_name')?.touched
            "
            class="text-danger position-absolute"
          >
            Session Name is required
          </div>
        </div>
      </div>

      <div class="col-12 col-md-6 d-flex align-items-center">
        <div
          class="form-group m-form__group w-100 custom_validation_msg d-flex flex-column position-relative"
        >
          <label for="source">
            Source <span class="text-danger">*</span>
          </label>

          <p-multiSelect
            formControlName="source"
            [options]="batchSourcList"
            optionLabel="name"
            optionValue="id"
            [style]="{ width: '100%' }"
            display="chip"
            defaultLabel="Select Source"
            required
          ></p-multiSelect>

          <div
            *ngIf="
              chatForm.get('source')?.invalid && chatForm.get('source')?.touched
            "
            class="text-danger position-absolute"
            style="bottom: -27px"
          >
            Source is required
          </div>
        </div>
      </div>
    </div>
  </form>

  <div class="card-body row w-100">
    <div class="col-lg-12 d-flex align-items-center justify-content-end">
      <button
        (click)="save()"
        class="btn btn-primary blue float-right"
        [disabled]="chatForm.invalid"
      >
        <span>Save</span>
      </button>
      <button (click)="onHideDialog()" class="btn btn-danger float-right mx-2">
        <span>Cancel</span>
      </button>
    </div>
  </div>
</p-dialog>
 <!-- <p-toast key="toast1" styleClass="success"></p-toast>
<p-toast key="toast2" styleClass="error"></p-toast> -->
